# JetBrains folder
.idea

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
/build/
/.idea
/client/.gradle
/client/local.properties
/client/*.iml
/client/*.hprof
/client/.cxx/

# node.js
#
/admin/node_modules/
/api/node_modules/
/client/node_modules/
/client/npm-debug.log
/client/yarn-error.log

# BUCK
/client/buck-out/
/client/\.buckd/
/client/*.keystore
/client/!debug.keystore

# Bundle artifacts
/client/*.jsbundle

# CocoaPods
/client/ios/Pods/

# Expo
/client/.expo/
/client/web-build/
/client/dist/
