@use "src/assets/styles/variables" as v;

.logout {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center; 
  
  &__container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  
  &__title {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
  }
}