/* VARIABLES */
// font
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Indie Flower', cursive;

// color
$light-color: #b3cde0;
$first-color-light: #6497b1;
$first-color: #03396c;
$second-color: #44094d;
$dark-color: #011f4b;
$alert-color: #7c0920;
$success-color: #005555;
$warning-color: #ffbe4f;