.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  
  &__container {
    width: 100%;
    padding: 1rem 0;
    
    &_title {
      font-size: 1.25rem;
      text-align: center;
      color: #294B6C;
      padding: 1rem 0;
    }
  }
}